@font-face {
    font-family: 'LABDigital';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf') format("truetype");
    font-display: swap;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(193, 237, 237);
}
.container{
    background-color: black;
    width: 80%;
    min-width: 320px;
    max-width: 640px;
    margin: 10px auto;
    padding: 5px 0 15px;
    text-align: center;
    border: 1px solid red;
    border-radius: 16px;
    box-shadow: 10px 10px 10px;
}
h2{
    color: white;
}
h1{
    color: red;
}
h1 > span{
    font-family: 'LABDigital';
    display: inline-block; /* */
    width: 40px;
}
button{
    color: black;
    background-color: lightgray;
    font-size: 25px;
    font-weight: bold;
    padding: 6px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:active{ /* 버튼을 눌렀을 때*/
    color: lightgray;
    background-color: darkslategray;
}